{% extends 'base.html.twig' %}

{% block title %}Modification de profil{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/register.css') }}">{% endblock %}

{% block body %}
    <h1>Créez votre matière</h1>
    {{ form_start(formSubject) }}
    {{ form_row(formSubject.name, {'name': 'name'}) }}
    <button type="submit">Créer</button>
    {{ form_end(formSubject) }}

{% endblock %}


