{% extends "base.html.twig" %}

{% block stylesheets %}<link rel="stylesheet" href="{{ asset('css/custom.css') }}">{% endblock %}

{% block title %}Mot de passe oublié{% endblock %}

{% block body %}
    <div class="container" id="card">
        <div class="card">
            <div class="card-header">
                <h1>Mot de passe oublié</h1>
            </div>
            <div class="card-body">
                <form method="post" action="" class="form-group row" >
                    <div class="container">
                        <p>Renseignez votre adresse mail, nous vous enverrons un nouveau mot de passe.</p>
                    </div>
                    <label class="sr-only" for="inlineFormInputGroupUsername2">Adresse mail</label>
                    <div class="input-group mb-2 mr-sm-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><i class="fas fa-at"></i></div>
                        </div>
                        <input type="text" class="form-control" name="_username" id="inlineFormInputGroupUsername2" placeholder="Adresse mail">
                    </div>

                    <div class="container">
                        <button type="submit" class="btn btn-primary mb-2">Réinitialiser</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

