{% extends "base.disconnect.html.twig" %}

{% block stylesheets %}<link rel="stylesheet" href="{{ asset('css/custom.css') }}">{% endblock %}

{% block title %}Mot de passe oublié{% endblock %}

{% block body %}
    <div class="container" id="card">
        <div class="card">
            <div class="card-header">
                <h1>Mot de passe oublié</h1>
            </div>
            <div class="card-body">
                <form method="post" action="{{ path('SendMailForgotPassword') }}" class="form-group row" >
                    <div class="container">
                        <p class="card-text">Renseignez votre adresse mail, nous vous enverrons un nouveau mot de passe.</p>
                        <label class="sr-only" for="inlineFormInputGroupUsername2">Adresse mail</label>
                        <div class="input-group mb-2 mr-sm-2">
                            <div class="input-group-prepend">
                                <div class="input-group-text"><i class="fas fa-at"></i></div>
                            </div>
                            <input type="text" class="form-control" name="email" id="inlineFormInputGroupUsername2" placeholder="Adresse mail">
                        </div>
                        <br />
                        {% for flash in app.flashes('info') %}
                            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                {{ flash }}
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        {% endfor %}
                        {% for flash in app.flashes('success') %}
                            <div class="alert alert-success alert-dismissible fade show" role="alert">
                                {{ flash }}
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        {% endfor %}
                        <br />
                        <button type="submit" class="btn btn-primary btn-block btn-lg">Réinitialiser</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

