{% extends 'base.html.twig' %}

{% block title %}Jeu du pendu{% endblock %}

{% block body %}
    <style>
        .letter
        {
            width: 40px;
            height: 40px;
            margin-right: 5px;
            margin-top: 5px;
            text-transform: uppercase;
        }
        #word
        {
            text-transform: uppercase;
        }
    </style>
    <div class="container mt-5">
        <h1 class="display-4 text-center">Jeu du pendu</h1>
    </div>
        <div class="container mt-5">
            <div class="row text-center">
                <div class="col col-lg-2 pt-1"><h5>Le monsieur pendu</h5></div>
                <div id="alphabet" class="col pt-1"><h5>Alphabet</h5></div>
            </div>
            <div class="row text-center">
                <div class="col col-lg-2 pt-1">
                    <p id="word" class="form-control" type="text" readonly>{{ word }}</p>
                </div>
                <div class="col pt-1"><h5>Il reste <span id="nbrEssais">15</span> essai(s)</h5></div>
            </div>
        </div>
    <hr/>
    <div class="container">
        <h3>Hints : Définition du mot</h3>
        <h3><span id="definition"></span></h3>
    </div>
{% endblock %}

{% block javascripts %}
<script src="{{ asset("js/hangman.js") }}"></script>
<script>

</script>
<script>

</script>

{% endblock %}


