{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block stylesheets %}<link rel="stylesheet" href="{{ asset('css/login.css') }}">{% endblock %}

{% block body %}
    <br/>
<div class="container" id="loginCard">
    <div class="card">
        <div class="card-header">
            <h1>Connexion</h1>
        </div>
        <div class="card-body">
            <form class="form-group row">
                <label class="sr-only" for="inlineFormInputGroupUsername2">Adresse mail</label>
                <div class="input-group mb-2 mr-sm-2">
                    <div class="input-group-prepend">
                        <div class="input-group-text"><i class="fas fa-at"></i></div>
                    </div>
                    <input type="text" class="form-control" id="inlineFormInputGroupUsername2" placeholder="Adresse mail">
                </div>
                <label class="sr-only" for="inlineFormInputGroupUsername2">Mot de passe</label>
                <div class="input-group mb-2 mr-sm-2">
                    <div class="input-group-prepend">
                        <div class="input-group-text"><i class="fas fa-key"></i></div>
                    </div>
                    <input type="password" class="form-control" id="inlineFormInputGroupUsername2" placeholder="Mot de passe">
                </div>

                <div class="container">
                    <div class="row justify-content-between">
                        <div class="col-4"></div>
                        <div class="col-3">
                            <a href="#">Mot de passe oublié ?</a>
                        </div>
                    </div>
                </div>

                <div class="container">
                    <div class="row justify-content-between">
                        <div class="col-4"><p>Pas encore de compte ? <a href="#">S'inscrire</a></p></div>
                        <div class="col-3">
                            <button type="submit" class="btn btn-primary mb-2">Connexion</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}


