{% extends 'base.html.twig' %}

{% block title %}Profil - {{ app.user.lastName }} {{ app.user.firstName }}{% endblock %}



{% block body %}
    <h1>Paramètres du compte</h1>
    <div class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-header">
                <h6><i class="fas fa-user-edit fa-lg"></i>&nbsp;Vos informations personnelles</h6>
            </div>
            <div class="card-body">
                <div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Adresse Email</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                        <small id="emailHelp" class="form-text text-muted">Veuillez renseigner une nouvelle adresse e-mail</small>
                    </div>
                    <div class="form-group">
                        <label for="motDePasseActuel">Mot de passe actuel</label>
                        <input type="password" class="form-control" id="motDePasseActuel" placeholder="mot de passe actuel">
                    </div>
                    <div class="form-group">
                        <label for="nouveauMotDePasse">Nouveau mot de passe</label>
                        <input type="password" class="form-control" id="nouveauMotDePasse" placeholder="nouveau mot de passe">
                    </div>
                    <div class="form-group">
                        <label for="confirmationMotDePasse">Confirmer</label>
                        <input type="password" class="form-control" id="confirmationMotDePasse" placeholder="Confirmer le mot de passe">
                    </div>
                    <button type="submit" class="btn btn-primary">Enregistrer les modifications</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="card">
            <div class="card-header">
                <h6><i class="fas fa-thumbs-up fa-lg"></i>&nbspVos Préférences</h6>
            </div>
            <div class="card-body">

            </div>
        </div>
    </div>
{% endblock %}