{% extends "base.html.twig" %}
{% block title %}Rejoindre une séance - DreamTeach{% endblock %}

{% block body %}

<div class="container-fluid">
    <div class="card">
        <div class="card-header" style="background-color: rgba(0,0,0,.00);">
            <h2>Rejoindre une séance privée</h2>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-sm">
                    <div class="form-row">
                        <div class="col">
                            <form method="post" action="#">
                                <div class="input-group mb-3">
                                    <input type="password" name="password" class="form-control" placeholder="Mot de passe de la séance">
                                </div>
                                <input type="submit" class="btn btn-primary btn-lg btn-block" value="S'inscrire">
                            </form>
                        </div>
                    </div>
                    <br>
                    <hr>
                    <h2>Description de la séance</h2>
                    {{ session.description }}
                </div>
            </div>
        </div>
    </div>
    <br/>

{% endblock %}