{% extends 'base.html.twig' %}

{% block title %}SignUp{% endblock %}

{% block stylesheets %}<link rel="stylesheet" href="{{ asset('css/signUp.css') }}">{% endblock %}

{% block body %}
    <div class="col-3">
        <button type="submit" class="btn btn-primary mb-2">SignUp</button>
    </div>
{% endblock %}


