#loginCard
{
    margin-top: 10%;
}

body {
    background: url(../img/test.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover
}